input:not([type]).custom-validate.invalid + label.active,
input:not([type]).custom-validate.valid + label.active,
input[type=text]:not(.browser-default).custom-validate.invalid + label.active,
input[type=text]:not(.browser-default).custom-validate.valid + label.active,
input[type=password]:not(.browser-default).custom-validate.invalid + label.active,
input[type=password]:not(.browser-default).custom-validate.valid + label.active,
input[type=email]:not(.browser-default).custom-validate.invalid + label.active,
input[type=email]:not(.browser-default).custom-validate.valid + label.active,
input[type=url]:not(.browser-default).custom-validate.invalid + label.active,
input[type=url]:not(.browser-default).custom-validate.valid + label.active,
input[type=time]:not(.browser-default).custom-validate.invalid + label.active,
input[type=time]:not(.browser-default).custom-validate.valid + label.active,
input[type=date]:not(.browser-default).custom-validate.invalid + label.active,
input[type=date]:not(.browser-default).custom-validate.valid + label.active,
input[type=datetime]:not(.browser-default).custom-validate.invalid + label.active,
input[type=datetime]:not(.browser-default).custom-validate.valid + label.active,
input[type=datetime-local]:not(.browser-default).custom-validate.invalid + label.active,
input[type=datetime-local]:not(.browser-default).custom-validate.valid + label.active,
input[type=tel]:not(.browser-default).custom-validate.invalid + label.active,
input[type=tel]:not(.browser-default).custom-validate.valid + label.active,
input[type=number]:not(.browser-default).custom-validate.invalid + label.active,
input[type=number]:not(.browser-default).custom-validate.valid + label.active,
input[type=search]:not(.browser-default).custom-validate.invalid + label.active,
input[type=search]:not(.browser-default).custom-validate.valid + label.active,
textarea.materialize-textarea.custom-validate.invalid + label.active,
textarea.materialize-textarea.custom-validate.valid + label.active {
  width: 100%;
}

input:not([type]).custom-validate.invalid + label.active:after,
input:not([type]).custom-validate.valid + label.active:after,
input[type=text]:not(.browser-default).custom-validate.invalid + label.active:after,
input[type=text]:not(.browser-default).custom-validate.valid + label.active:after,
input[type=password]:not(.browser-default).custom-validate.invalid + label.active:after,
input[type=password]:not(.browser-default).custom-validate.valid + label.active:after,
input[type=email]:not(.browser-default).custom-validate.invalid + label.active:after,
input[type=email]:not(.browser-default).custom-validate.valid + label.active:after,
input[type=url]:not(.browser-default).custom-validate.invalid + label.active:after,
input[type=url]:not(.browser-default).custom-validate.valid + label.active:after,
input[type=time]:not(.browser-default).custom-validate.invalid + label.active:after,
input[type=time]:not(.browser-default).custom-validate.valid + label.active:after,
input[type=date]:not(.browser-default).custom-validate.invalid + label.active:after,
input[type=date]:not(.browser-default).custom-validate.valid + label.active:after,
input[type=datetime]:not(.browser-default).custom-validate.invalid + label.active:after,
input[type=datetime]:not(.browser-default).custom-validate.valid + label.active:after,
input[type=datetime-local]:not(.browser-default).custom-validate.invalid + label.active:after,
input[type=datetime-local]:not(.browser-default).custom-validate.valid + label.active:after,
input[type=tel]:not(.browser-default).custom-validate.invalid + label.active:after,
input[type=tel]:not(.browser-default).custom-validate.valid + label.active:after,
input[type=number]:not(.browser-default).custom-validate.invalid + label.active:after,
input[type=number]:not(.browser-default).custom-validate.valid + label.active:after,
input[type=search]:not(.browser-default).custom-validate.invalid + label.active:after,
input[type=search]:not(.browser-default).custom-validate.valid + label.active:after,
textarea.materialize-textarea.custom-validate.invalid + label.active:after,
textarea.materialize-textarea.custom-validate.valid + label.active:after {
  top: -4px;
}