.header-side {

  padding: 24px 32px 32px;

  @import "control-buttons-component";

  .name {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    color: #414745;
    margin-bottom: 4px;
  }

  .company {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #414745;
    margin-bottom: 4px;
  }

  .role {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-style: italic;
    text-align: left;
    color: #414745;
    margin-bottom: 8px;
  }

  .when-joined {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    text-align: left;
    color: #9b9b9b;
  }

  .date-information {

    margin-bottom: 24px;

    div {
      height: 18px;

      span {
        font-family: Roboto, sans-serif;
        font-size: 13px;
        line-height: 18px;
        text-align: left;
        color: #9b9b9b;
      }
    }
  }

  .titles {
    margin: 16px 0 0 0;

    h3 {
      font-family: Roboto, sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 0.75;
      text-align: left;
      color: #414745;
      margin: 0;
    }

    h6 {
      font-family: Roboto, sans-serif;
      font-size: 13px;
      line-height: 1.15;
      text-align: left;
      color: #414745;
      margin: 0;
      margin-top: 8px;
    }
  }

}