.tags-component {

  margin-bottom: 16px;

  &.editable {

    h3.tags-component-title {
      button.tags-component-edit {
        display: inline-block;
      }
    }
  }

  h3.tags-component-title {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    text-align: left;
    color: #414745;
    margin-top: 0;
    margin-bottom: 8px;

    button.tags-component-edit {
      vertical-align: middle;
      display: none;
      margin-left: 8px;
      width: 24px;
      height: 24px;
      border: none;
      background: none;

      span.material-icons {
        font-size: 15px;
      }
    }
  }

  ul.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    li.tag {
      margin-bottom: 8px;
      border: solid 1px #ffd831;
      margin-right: 8px;
      padding: 0 16px 0 16px;
      height: 31px;
      display: table;

      &.marked {
        padding-right: 32px;

        &:hover {
          .tag-wrapper .asd .tooltip {
            display: block;
          }
        }

        .tag-wrapper {
          position: relative;

          .asd {
            position: absolute;
            right: -24px;
            top: 4px;

            &:hover {
              .tooltip {
                display: block;
              }
            }

            .marker {
              display: block;
            }

            .tooltip {
              display: none;
              padding: 16px;
              position: absolute;
              background: #414745;
              font-family: Roboto,sans-serif;
              font-size: 13px;
              line-height: 1.15;
              text-align: center;
              color: #ffffff;
              top: calc(-100% - 55px);
              left: calc(100% - 78px);

              &:before {
                content: '';
                border-width: 8px 8px 0 8px;
                border-style: solid;
                border-color: #414745 transparent transparent transparent;
                height: 10px;
                width: 10px;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                position: absolute;
                bottom: -10px;
              }

              a {
                color: #fff;
                white-space: nowrap;
                text-decoration: underline;
              }
            }
          }
        }

      }

      &:hover {
        cursor: default;
      }

      &:last-child {
        margin-right: 0;
      }

      .tag-wrapper {
        display: table-cell;
        vertical-align: middle;
      }

      span.label {
        display: inline-block;
        vertical-align: middle;
        font-family: Roboto, sans-serif;
        font-size: 13px;
        line-height: 1.15;
        text-align: left;
        color: #414745;
        text-transform: uppercase;
      }

      span.marker {
        display: inline-block;
        vertical-align: middle;
        color: #ff465d;
        font-size: 20px;
      }
    }
  }
}