@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("../../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("../../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("../../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Medium), url("../../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Bold), url("../../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "AkkuratPro";
  src: local(AkkuratPro Regular), url("../../fonts/akkurat/lineto-akkurat-regular.woff2") format("woff2"), url("../../fonts/akkurat/lineto-akkurat-regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "AkkuratPro";
  src: local(AkkuratPro Bold), url("../../fonts/akkurat/lineto-akkurat-bold.woff2") format("woff2"), url("../../fonts/akkurat/lineto-akkurat-bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: Akkurat-Bold;
  src: url("../../fonts/lineto-akkurat-bold.eot");
  src: url("../../fonts/lineto-akkurat-bold.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/lineto-akkurat-bold.woff2") format("woff2"),
  url("../../fonts/lineto-akkurat-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Akkurat-Regular;
  src: url("../../fonts/lineto-akkurat-regular.eot");
  src: url("../../fonts/lineto-akkurat-regular.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/lineto-akkurat-regular.woff2") format("woff2"),
  url("../../fonts/lineto-akkurat-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}