body {

  &.journalists-list {
    nav {
      height: 112px;

      .nav-wrapper {
        height: 64px;
      }
    }
  }

  nav {
    background-color: $navbar-bg-color;
    box-shadow: none;
    transition: height .25s;

    .nav-wrapper {
      .back-button {
        display: inline-block;
        float: left;
        background: none;
        border: none;
        width: 64px;
        height: 100%;
        padding: 0;

        + .nav-title {
          padding-left: 0;
          max-width: 240px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        i {
          text-align: right;
          padding-right: 16px;
        }

      }

      ul {
        li {
          height: 64px;
        }
      }

      .nav-title {
        padding: 20px 24px;
        font-family: Roboto, sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
      }

      .nav-search-field {
        z-index: 9;
        position: absolute;
        left: 320px;
        display: inline-block;
        height: 100%;

        input.main-search {
          background: url('../../../../img/admin/icon-search-yellow.png') 12px 12px no-repeat;
          height: 48px;
          width: 640px;
          top: 8px;
          background-color: rgba(255, 255, 255, 0.2);
          border: none;
          border-radius: 2px;
          max-width: 640px;
          margin-top: 8px;
          font-family: Roboto, sans-serif;
          font-size: 15px;
          text-align: left;
          color: #ffffff;
          padding: 0 200px 0 54px;
          outline: 0;

          &:active,
          &:focus {
            border: none;
          }
        }
      }

      .nav-panel-results {
        top: 64px;
        position: absolute;
        background-color: #fff;
        padding: 16px 0;
        width: 100%;
        box-shadow: 0 2px 10px 0 rgba(155, 155, 155, 0.16), 0 2px 5px 0 rgba(155, 155, 155, 0.51);

        ul {
          li {
            height: 34px!important;
            width: 100%;

            &:hover {
              background-color: #fff7d6;
            }

            a {
              color: #414745;
              line-height: 34px;
              width: 100%;
              padding: 0 12px 0 54px;

              &:hover {
                background: transparent;
              }
            }
          }
        }
      }

      .profile-component {
        position: relative;

        ul.dropdown {
          min-width: 144px;
          position: absolute;
          right: 24px;
          background-color: #fff;
          box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.25);
          padding: 16px 0;
          z-index: 2;

          li {
            background-color: #fff;
            height: 47px;
            width: 100%;

            a {
              line-height: 1;
              width: 100%;
              height: 100%;
              padding: 16px;
              font-family: Roboto, sans-serif;
              font-size: 13px;
              text-align: left;
              color: #414745;

              &:hover {
                background-color: #fff7d6;
              }
            }
          }

        }
      }

    }



    .nav-button {
      background: transparent;
      margin-top: 24px;
      border: none;
      padding: 16px 24px;

      img {
        border-radius: 50% 50%;
        width: 32px;
        height: 32px;
      }

      .initials {
        color: #414745;
        line-height: 1.8;
        display: inline-block;
        width: 32px;
        height: 32px;
        background-color: $yellow-color;
        border-radius: 50%;
        text-transform: uppercase;
      }
    }

  }
}